<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.mapper.ValueMapper">
    <select id="getAll" resultType="Value">
        select * from tbl_dictionary_value
    </select>
    <select id="getId" resultType="Value">
        select * from tbl_dictionary_value where id=#{id}
    </select>
    <update id="update">
        update tbl_dictionary_value set
        value=#{value},
        text=#{text},
        orderNo=#{orderNo},
        typeCode=#{typeCode}
        where id=#{id}
    </update>
    <delete id="delete">
        delete from tbl_dictionary_value where id in
        <foreach item="ids" separator="," close=")" open="(" collection="array">
            #{ids}
        </foreach>
    </delete>

    <insert id="insert">
        insert into tbl_dictionary_value values (
            #{id},
            #{value},
            #{text},
            #{orderNo},
            #{typeCode}
        )
    </insert>

    <select id="getUsed" resultType="String">
        select distinct typeCode from tbl_dictionary_value where typeCode in
        <foreach collection="array" separator="," open="("  close=")" item="ids">
            #{ids}
        </foreach>
    </select>
</mapper>